.modal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Lines-light);
  padding-bottom: 10px;
}
.modal_title {
}

.modal_body {
  padding: 50px 0px;
}
.input_wrapper {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.input_name {
  margin-bottom: 20px;
}

/* --------DATE INPUT---------------------------------------------------------------------- */
.date_input {
  width: 100%;
  border: 1px solid var(--Lines-light);
  padding: 10px;
  border-radius: 5px;
  position: relative;

  &:not(:valid):before {
    content: attr(placeholder) !important;
    position: absolute;
    color: lightgrey;
    font-size: 16px;
    background-color: var(--White);
    margin-right: 0.5em;
  }

  &.empty {
    outline: 1px solid var(--Red);
  }

  &:focus:before {
    content: "" !important;
  }

  &:active {
    outline: 1px solid var(--Main-purple);
  }

  &:focus {
    outline: 1px solid var(--Main-purple);
  }
}

.city_input {
  width: 100%;
  border: 1px solid var(--Lines-light);
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;

  &::placeholder {
    color: lightgrey;
    font-size: 16px;
    font-weight: normal;
  }

  &:active {
    outline: 1px solid var(--Main-purple);
  }

  &:focus {
    outline: 1px solid var(--Main-purple);
  }
}

.modal_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--Lines-light);
  padding-top: 20px;
}
