.button {
  height: 30px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;

  &.login {
    background-color: var(--Light-grey);
    font-weight: bold;
    color: black;

    &:hover {
      color: var(--Main-purple);
    }
  }

  &.slider {
    background-color: var(--Light-grey);
    font-weight: bold;
    font-size: 16px;

    &:hover {
      color: var(--Main-purple);
    }

    &:disabled {
      cursor: default;
      color: lightgrey;

      &:hover {
        color: lightgrey;
      }
    }
  }

  &.close {
    background: url("./../../img/close.png") center center no-repeat;
    background-size: 15px 15px;
  }

  &.cancel {
    background-color: var(--White);
    border: 1px solid var(--Lines-light);
    width: 85px;
    font-weight: bold;

    &:hover {
      background-color: var(--Light-grey);
    }
  }

  &.save {
    background-color: #2491fc;
    color: var(--White);
    width: 85px;
    font-weight: bold;

    &:hover {
      font-weight: bold;
      background-color: #2491fcba;
    }
  }
}
