.day_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  width: 80px;
  gap: 20px;
}
.day_title {
  font-weight: normal;
  font-size: 14px;
}
.day_img {
}
.day_temp {
  font-size: 14px;
}
