.slider_conteiner {
}

.slider_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 680px;
  overflow: hidden;
}

.slider_body {
  display: flex;
  flex-direction: row;
  gap: 40px;
  transition: transform 0.5s;
}

.slider_control_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
